<% if(typeof product !='undefined' ){%>
    <button onclick="detailProduct('<%=product.id%>')" style="outline: none;border: none;background: none;"
        class="user-hover" class="btn btn-primary" data-toggle="modal" data-target="#Product-form<%=product.id%>"
        data-whatever="@getbootstrap">
        <i id="right-click" class="fa-solid fa-angle-right"></i>
    </button>
    <div class="modal fade" id="Product-form<%=product.id%>" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                    <button type="button" class="close-form-btn close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" name="name" id="product-name-<%=product.id%>"
                            value="<%=product.name%>">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Amount:</label>
                        <input type="text" class="form-control" name="amount" id="amount-<%=product.id%>"
                            value="<%=product.amount%>">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Price:</label>
                        <input type="text" class="form-control" name="price" id="price-<%=product.id%>"
                            value="<%=product.price%>">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Category:</label>
                        <% for(var i=0; i<categories.length;i++) { %>
                            <div class="form-check-category">
                                <input class="form-check-input-category<%=product.id%>" type="checkbox"
                                    data-id="<%=categories[i].id%>" value="<%=categories[i].id%>" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    <%=categories[i].name%>
                                </label>
                            </div>
                            <% } %>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Description:</label>
                        <input type="text" class="form-control" id="description-<%=product.id%>" name="description"
                            value="<%=product.description%>">
                    </div>
                    <form action="/admin/product_images/<%=product.id%>" method="POST" enctype="multipart/form-data">

                        <div class="form-group ">
                            <div>
                                <label for="recipient-name" class="col-form-label">Image:</label>
                                <input type="file" multiple class="form-control" accept="image/*" name="images"
                                    id="images">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <div class="list-img-product image-product-<%=product.id%>"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="deleteProduct('<%=product.id%>')" class="btn btn-danger"
                        style="justify-content: left;">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="updateProduct('<%=product.id%>')" class="btn btn-primary">Update
                        Product</button>
                </div>
            </div>
        </div>
    </div>
    <%}%>