<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbroad</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>

</style>

<body>
    <div class="row background">
        <%- include('../components/adminNav.ejs')%>

            <div class="col-10">
                <div class="row background">
                    <div class="col-3">
                        <div class="total_item">
                            <div class="total_item--detail">

                                <div class="total_item--p">
                                    <p>Total Order</p>
                                    <h3>
                                        <%=orders.length%>
                                    </h3>
                                    <a href="http://localhost:4007/admin/orders">View more</a>
                                </div>
                            </div>
                            <div class="total_item--detail">
                                <div class="total_item--img">
                                    <i style="color:purple" class="menu-item__img fa-solid fa-file-invoice"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="total_item">
                            <div class="total_item--detail">
                                <div class="total_item--p">
                                    <p>Total User</p>
                                    <h3>
                                        <%=users.length %>
                                    </h3>
                                    <a href="http://localhost:4007/admin/users">View more</a>

                                </div>
                            </div>
                            <div class="total_item--detail">
                                <div class="total_item--img">
                                    <i style="color:green" class="fa-solid fa-image-portrait"></i>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="total_item">
                            <div class="total_item--detail">
                                <div class="total_item--p">
                                    <p> Categories</p>
                                    <h3>
                                        <%=categories.length%>
                                    </h3>
                                    <a href="http://localhost:4007/admin/categories">View more</a>
                                </div>
                            </div>
                            <div class="total_item--detail">
                                <div class="total_item--img">
                                    <i style="color:pink" class="menu-item__img fa-solid fa-circle-chevron-down"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="total_item">
                            <div class="total_item--detail">
                                <div class="total_item--p">

                                    <p>Total Product</p>
                                    <h3>
                                        <%=products.length%>
                                    </h3>
                                    <a href="http://localhost:4007/admin/products">View more</a>
                                </div>

                            </div>
                            <div class="total_item--detail">
                                <div class="total_item--img">
                                    <i style="color:red" class="menu-item__img fa-brands fa-product-hunt"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-7">
                        <div class="order-item" style="margin-top: 20px" ;>
                            <div class="order-heading">
                                <h3>Order</h3>
                            </div>

                            <table style="width: 90%;">
                                <tr>
                                    <th>No.</th>
                                    <th>Status</th>
                                    <th>Payment Method</th>
                                    <th>Payment Date</th>
                                </tr>
                                <% for(var i=0; i<orders.length;i++) { %>
                                    <tr>
                                        <td>
                                            <%=i+1%>
                                        </td>
                                        <td class="order-item--des">
                                            <%=orders[i].status%>
                                        </td>
                                        <td>
                                            <%=orders[i].paymentMethod%>
                                        </td>
                                        <td>
                                            <%=orders[i].paymentDate%>
                                        </td>
                                        <td>
                                            <%- include('../components/modalOrder.ejs',{order:orders[i]})%>
                                        </td>
                                    </tr>
                                    <% } %>
                            </table>
                        </div>
                    </div>
                    <div class="col-5" style="margin-top:20px">
                        <div class="category-item">
                            <div class="category-heading"
                                style="display: flex; justify-content: space-between; align-items: center;">
                                <h3>Category</h3>
                                <%- include('../createForm/category.ejs')%>

                            </div>

                            <table style="width: 90%;">
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Thumbnail</th>
                                    <th>Description</th>
                                </tr>
                                <% for(let i=0; i<categories.length;i++) { %>
                                    <tr>
                                        <td>
                                            <%=i+1%>
                                        </td>
                                        <td class="category-item--des">
                                            <%=categories[i].name%>
                                        </td>
                                        <td><img style="width: 60px;" src="<%=categories[i].thumbnail%>" alt=""></td>
                                        <td>
                                            <%=categories[i].description%>
                                        </td>
                                        <td>
                                            <%- include('../components/modalCategory.ejs', {category:categories[i]})%>

                                        </td>
                                    </tr>
                                    <% } %>
                            </table>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="product-item" style="margin-top: 20px;">
                            <div class="product-heading"
                                style="display: flex; justify-content: space-between; align-items: center;">
                                <h3>Product</h3>
                                <%- include('../createForm/product.ejs', {category:categories[i]})%>

                            </div>
                            <div class="row">
                                <div class="detail-body">
                                    <table style="width: 100%;line-height: 50px;">
                                        <tr>
                                            <th>No.</th>
                                            <th>Name</th>
                                            <th>Amount</th>
                                            <th>Price</th>
                                            <th>Category</th>
                                            <th>Description</th>
                                            <th>Image</th>
                                        </tr>
                                        <% for(var i=0; i<products.length;i++) { %>
                                            <tr>
                                                <td>
                                                    <%=i+1%>
                                                </td>
                                                <td>
                                                    <%=products[i].name%>
                                                </td>
                                                <td>
                                                    <%=products[i].amount%>
                                                </td>
                                                <td>
                                                    <%=products[i].price%>
                                                </td>
                                                <td>
                                                    <%products[i].categoryProduct.forEach(function(category){%>
                                                        <%=category.category.name%>,
                                                            <%})%>
                                                </td>
                                                <td>
                                                    <%=products[i].description%>
                                                </td>
                                                <td>
                                                    <%products[i].productImage.forEach(function(img){%>
                                                        <img width="50px" src="<%=img.href%>" alt="">
                                                        <%})%>
                                                </td>
                                                <td>
                                                    <%- include('../components/modalProduct.ejs',
                                                        {product:products[i]})%>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top:20px">
                        <div class="user-item">
                            <div class="user-heading">
                                <h3>User</h3>
                            </div>

                            <table style="width: 90%;">
                                <tr>
                                    <th>No.</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Avatar</th>
                                    <th>Birthday</th>
                                    <th>Phone number</th>
                                    <th>Gender</th>
                                    <th>Active</th>
                                    <th>Block</th>
                                </tr>
                                <% for(var i=0; i<users.length;i++) { %>

                                    <tr>
                                        <td>
                                            <%=i+1 %>
                                        </td>
                                        <td>
                                            <%=users[i].email%>
                                        </td>
                                        <td>
                                            <%=users[i].fullname%>
                                        </td>
                                        <td>
                                            <%=users[i].address%>
                                        </td>
                                        <td><img src="<%=users[i].avatar%>" alt=""></td>
                                        <td>
                                            <%=users[i].birthday%>
                                        </td>
                                        <td>
                                            <%=users[i].phone%>
                                        </td>
                                        <td>
                                            <%=users[i].gender%>
                                        </td>
                                        <td>
                                            <%=users[i].is_active%>
                                        </td>
                                        <td>
                                            <%=users[i].is_block%>
                                        </td>
                                        <td>
                                            <%- include('../components/modalUser.ejs', {user:users[i]})%>
                                        </td>
                                    </tr>
                                    <% } %>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
    crossorigin="anonymous "></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // color status order
    // const $=(x)=>document.querySelector(x);
    let result = $(".order-item--des").innerText;
    const status = document.getElementsByClassName('order-item--des')
    for (let i = 0; i < status.length; i++) {
        if (document.getElementsByClassName('order-item--des')[i].innerText == 'Completed') {
            document.getElementsByClassName('order-item--des')[i].style.color = 'green';
        } else {
            document.getElementsByClassName('order-item--des')[i].style.color = 'red'
        }
    }

    function detailProduct(id) {
        axios.get('/admin/product/' + id).then(res => {
            var checkCategoryProduct = document.getElementsByClassName(`form-check-input-category` + id);
            console.log('checkExistCategory', res.data.data.categoryProduct[0].categoryId)
            console.log('checkCategoryProduct', checkCategoryProduct)
            for (let j = 0; j < checkCategoryProduct.length; j++) {
                for (let i = 0; i < res.data.data.categoryProduct.length; i++) {
                    if (checkCategoryProduct[j].attributes[2].value == res.data.data.categoryProduct[i].categoryId) {
                        console.log(checkCategoryPSroduct[j].checked = true)
                    }
                }
            }
        })
    }

    function addProduct() {
        const name = $('#name').val();
        const amount = $('#amount').val();
        const price = $('#price').val();
        const description = $('#description').val();
        const categoryId = $('input[type=checkbox]:checked').map(function (_, el) {
            return $(el).val();
        }).get();
        // let formData = new FormData();
        // formData.append('name', name);
        // formData.append('description', description);
        // formData.append('price', price);
        // formData.append('amount', amount);
        // formData.append('categories', categoryId);
        // for (const value of formData.values()) {
        //     console.log(value);
        // }
        axios.post('/admin/product', {
            name: name,
            amount: amount,
            price: price,
            description: description,
            categoryId: categoryId,
        })
            .then(function (response) {
                console.log(response);
            })

    }

    function deleteProduct(id) {
        axios.delete('/admin/product/' + id)
            .then(function (response) {
                if (response.status == 200) {
                    Swal.fire({
                        title: 'Deleted!',
                        text: response.data.message,
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    }).then(() => {
                        location.reload();
                    })
                } else {
                    Swal.fire({
                        title: 'Something went wrong',
                        text: response.data.message,
                        icon: 'error',
                        confirmButtonText: ' Not cool'
                    })
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function changeBlockUserStt(id) {
        axios.post('/admin/changeBlockUserStt/' + id,)
            .then(function (response) {
                if (response.status === 200) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Success',
                        showConfirmButton: false
                    }).then(function () {
                        location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Something went wrong',
                        text: response.data.message,
                        icon: 'error',
                        confirmButtonText: ' Not cool'
                    })
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function deleteUser(id) {
        axios.delete('/admin/user/' + id)
            .then(res => {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Success',
                    showConfirmButton: false
                });
                setTimeout(function () {
                    window.location.reload();
                }, 1500);
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    footer: '<a href>Why do I have this issue?</a>'
                })
            })
    }

    function updateCategory(id) {
        const categoryName = $('#category-name').val();
        const categoryDescription = $('#category-description').val();
        console.log(categoryName, categoryDescription)
        axios.post('/admin/editCategory/' + id, {
            name: categoryName,
            description: categoryDescription
        })
            .then(function (response) {
                if (response.status == 200) {
                    Swal.fire({
                        title: 'Updated!',
                        text: response.data.message,
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    }).then(() => {
                        location.reload();
                    })
                } else {
                    Swal.fire({
                        title: 'Something went wrong',
                        text: response.data.message,
                        icon: 'error',
                        confirmButtonText: ' Not cool'
                    })
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function deleteCategory(id) {
        axios.delete('/admin/category/' + id)
            .then(res => {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Deleted!',
                    showConfirmButton: false
                });
                setTimeout(function () {
                    window.location.reload();
                }, 1500);
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    footer: '<a href>Why do I have this issue?</a>'
                })
            })
    }

    function updateProduct(id) {
        const name = $(`#product-name-${id}`).val();
        const amount = $(`#amount-${id}`).val();
        const price = $(`#price-${id}`).val();
        const description = $(`#description-${id}`).val();
        const categoryId = $(`input[type=checkbox]:checked`).map(function (_, el) {
            return $(el).val();
        }).get();
        console.log(name, amount, price, description, categoryId);
        // axios.put('/admin/product/' + id, {
        //     name: name,
        //     description: description,
        //     amount: amount,
        //     price: price,
        //     categoryId: categoryId,
        // })
        //     .then(function (response) {
        //         if (response.status == 200) {
        //             Swal.fire({
        //                 title: 'Updated!',
        //                 text: response.data.message,
        //                 icon: 'success',
        //                 confirmButtonText: 'Cool'
        //             }).then(() => {
        //                 location.reload();
        //             })
        //         } else {
        //             Swal.fire({
        //                 title: 'Something went wrong',
        //                 text: response.data.message,
        //                 icon: 'error',
        //                 confirmButtonText: ' Not cool'
        //             })
        //         }
        //     })
        //     .catch(function (error) {
        //         console.log(error);
        //     });
    }
</script>

</html>